 * {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-size:22px;
    font-weight: bold;
    font-stretch: narrower;
    
}

:root {
    --main-text-color: #7017c9;
    --button-dimmed: #AEDBCE;
    --button-active: #30C598;
    --bg-color: #ece3e3;
} 
html,
body {
    height: 100%;
    background-image:  url('../Assets/Bg.jpg');
    background-position: center;
    background-size: cover;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Lato', sans-serif;
}
.header{
    justify-content: right;
    align-content: right;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(78, 75, 75);
}
.menu{
    color: var(--main-text-color);
    font-size: 14px;
    border-radius: 20px;
    background-color: var(--bg-color);
    
}
.menu-wrapper{
    display: flex;
    justify-content: space-between;
    
    
    
}
.menu-logo{
    
    padding-left: 50px;
}
.logo{
    position: absolute;

    background-image: url('../Assets/logo.svg');
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    width: 125px;
    height: 50px;
    top: 0px;
    left: -15px;
}

.name{
    
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    padding-top: 3px;
    padding-left: 20px;
}
.page-wrapper {
    
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    padding-top: 30px;
    height: 80vh;
}
.shef-wrapper{
    display: none;
    flex-direction: column;
    padding-right: 30px;
    
}
.shef-photo{
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 30%;
    border: none;
    border-radius: 10px;
}
.shef-name{
    padding-left: 30vh;
}
.food-photo{
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 30%;
    border: none;
    border-radius: 10px;

}
.food-wrapper{
    
    display: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    
}
.food{
    padding-left: 40vh;
}

.secondary-photo{
    display: inline-flex;
    flex-direction: row;
}
.secondary{
    width: 65vh;
    height: 65vh;
    border: none;
    padding: 15px; /* Расстояние от картинки до рамки */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 200px;
}
.secondary-text{
   padding-left: 30vh;
}


.dropbtn {
    background-color: var(--button-active);
    color: white;
    padding: 16px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}

.dropdown {
    right: 55px;
    font-size: 15px;
    position: relative;
    display: inline-block;
}


.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: var(--button-dimmed);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}


.dropdown-content a {
    border-radius: 20px;
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--button-active);}
.dropdown-order {
    
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: var(--button-dimmed);
    min-width: 50vh;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-order a {
    border-radius: 20px;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
}

.dropdown-order a:hover {background-color: var(--bg-color);}

.dropdown:hover .dropdown-order {display: block;}
.form-input {
    font-size: 20px;
    width: 40vh;
    height: 8vh;
    border: 1px solid #CED0DB;
    border-radius: 4px;
}

.form-label {
    display: flex;
    padding: 24px 0 8px 0;
    font-size: 20px;
    line-height: 16px;
    align-content: flex-start;
    flex-wrap: wrap;
}

.form-label:first-of-type {
    padding-top: 0;
}
.form-input-select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: 95% 80%;
}

.form-submit-button {
    background-color: var(--button-dimmed);
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 9px 15px;
    width: 190px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
}